*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mysterious Java PID thing that appeared in my repo
*.hprof

# Vim
*~

# Gradle
.gradle/
/build/
!/gradle/**/*

# Eclipse
.classpath
.project
.settings/

# IDEA
*.iml
*.ipr
*.iws
/out/
/.idea/

# General test run stuff
/run/

# Because no maven but don't want to redist
/lib/*.jar